<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Your Local Deals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/deal.css"/>
  <link href="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/map.css">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Find Local Deals</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Deals</a></li>
            <li><a href="#">Coupons</a></li>
            <li><a href="#">Deals and Coupons</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div>
    <p id="align" class="center-block">WHERE ARE YOU?</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group inputLocation">
          <input id="userLocation" type="text" class="form-control" placeholder="Enter your Zipcode" onsubmit="return search()">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" id="locationBtn"><img id="locationArrow" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Arrow_Blue_Up_001.svg/1024px-Arrow_Blue_Up_001.svg.png"></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-6 -->
    </div>
  </div>
  <div class="row">
  <div id="map-canvas"></div>
</div>



<div class="col-md-12" id="couponsRow"></div>


<div class="col-md-12" id="dealsRow"></div>





  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



    <!-- footer -->
    <footer>
      <div class="container">
        <p id="foot"> 
        </p>
      </div>
    </footer>


  
       

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/deal.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>
  <script type="text/javascript" src="js/map.js"></script>

</body>
</html>
</html>